/*TO DO
-FIX THE FOOTER
-Clean up CSS file
-Make this website responsive
-Develop CSS for the blog part of the website
-Create a style guide page so everything can be organized
-Update Typeface to Dosis
-Add Javascript and design elements
*/

/* Reusable/General Elements */

body{
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    
}



/* Generic OOCSS */
.center{
    text-align: center;
}

.display-inline{
    display: inline;
}

.margin-top{
    padding-top: 40px;
}

.margin-left{
    margin-left: 100px;
}

.margin-200-left{
    margin-left: 200px;
}

/*Navigation Bar */
.logo{
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 8px;
}


ul{
    display:flex;
    list-style-type: none;
    text-transform: uppercase;
    float: right;
}


nav a{
    color: #00FFA7;
    text-decoration: none;
    padding: 8px 16px;
    letter-spacing: 1px;
    font-family:'Roboto Mono', monospace;
}

.header-text{
    display: flex;
    justify-content: center;
    width:100%; 
    font-size: 50px;
    animation: fadein 1s;
}

.container{
    padding-top: 100px;
    height: 100%;
}

.button-main{
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    cursor: pointer;
    outline: 0; 
}

.button-main:hover{
    animation: button-animation 1s;
}

@keyframes button-animation{
    0%,25%{
        border: transparent;
    }

}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: #7E7E7E;
    text-align: center;
  }


/*Index*/
/* Fade In Animation */
.fadeinslow, .fadeinslower, .fadeinslowest {
    letter-spacing: 6px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    padding: 15px;
}

.fadeinslow{
    animation: fadein 4s;

}
.fadeinslower{
    animation: fadein 5s;
}


.fadeinslowest{
    animation: fadein 6s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/*About Me Page*/

.social{
    color: #00FFA7;
    font-size: 30px;
    text-align: center;
    display: inline-block;
}


.img-circle {
    animation: fadein 4s;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right:300px;
}

.learnmore {
    justify-content: center;
    display: flex;
    text-indent: 25px;
}

.subhead {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.heading{
    letter-spacing: 6px;
    font-size: 3vw;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    width: 100%;
    margin-top: -20px;
}

.subpage-heading {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: block;
}


