body{
    font-family:'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
}

nav{
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  line-height: 0.5;
  letter-spacing: 1.0px;
  margin: 6px;
  display: flex;
  justify-content: center;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
    display: block;
    color: #00FFA7;
    padding: 8px 16px;
    text-decoration: none;
}
a.menu:hover{
    background-color: #00FFA7;
    color: white;
}

#logo {
    height: 27px;
    width: 27px;
}

nav{
  display: flex;
  justify-content: space-between;
}

.img-circle {
    animation: fadein 4s;
    width: 50%;
    border-radius: 50%;
    height: 200px; 
    width: 200px;
}

h1,h2,h3,h4,p {
    justify-content: center;
    display: flex;
}

li{
   justify-content: center;
    display: flex; 
}

#header {
  height: 40px;
  width: 100%;
  background-color: #00FFA7;
  z-index: 1;
}

#social{
    background-color: ;
    color: #00FFA7;
    font-size: 30px;
    text-align: center;
}